*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    margin: 50px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}